body {
    font-family: system-ui;
    background-color: #f06d06;
    text-align: center;
}
#section {
    background-color: antiquewhite;
    border: salmon;

}
#parent {
    background-color: black;
    display: flex;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: solid black 1px;
}

.red {
    background-color: rgb(230, 89, 64);
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    max-width: 20%;
}
